/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px; /* Limit container width */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px;
  }
  
  /* Header Styles */
  .header {
    text-align: center;
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* White text color */
    padding: 20px 0; /* Add padding top and bottom */
    margin-bottom: 20px; /* Add margin bottom */
  }
  
  .header h1 {
    margin: 0;
  }
  
  /* Movie List Styles */
  .movie-list {
    display: flex; /* Use flexbox for movie list */
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: space-between; /* Add space between items */
  }
  
  .movie-item {
    width: calc(50% - 10px); /* Set width for two items per row */
    background-color: #ffffff; /* White background color */
    border: 1px solid #e9ecef; /* Light gray border */
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  @media (max-width: 768px) {
    .movie-item {
      width: 100%; /* Full width on smaller screens */
    }
  }
  
  /* Queue Styles */
  .queue {
    display: flex; /* Use flexbox for queue */
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: space-between; /* Add space between items */
  }
  
  .queue-item {
    width: calc(50% - 10px); /* Set width for two items per row */
    background-color: #ffffff; /* White background color */
    border: 1px solid #e9ecef; /* Light gray border */
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in width calculation */
  }
  
  @media (max-width: 768px) {
    .queue-item {
      width: 100%; /* Full width on smaller screens */
    }
  }
  
  /* movie-details.component.css */

.queue-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green; /* Set background color to green */
  border: none; /* Remove button border */
  border-radius: 50%; /* Make button round */
  width: 56px; /* Set button width */
  height: 56px; /* Set button height */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); /* Add shadow */
  display: flex; /* Use flex to center icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.queue-button:hover {
  background-color: darkgreen; /* Change background color on hover */
}

mat-icon {
  color: white; /* Set icon color to white */
  font-size: 24px; /* Adjust icon size */
}
